$white: white;
$teal: #233b43;
body {
  background-image: url("file:///C:/Users/XxDus/OneDrive/Escritorio/Git/Portfolio/graphics/pawel-czerwinski-ra6QRtk7D_4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  font-family: "Barlow", sans-serif;
  color: $white;
}
@font-face {
  font-family: "Future";
  src: url(graphics/Agezka-BF65e12a949da5e.otf);
}
.posabsolute {
  position: absolute;
}
.justify-center {
  justify-content: center;
}
.z-axis {
  z-index: 2;
}
.wtext {
  color: aliceblue;
}
.flex {
  display: flex;
}
.relative {
  position: relative;
}
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
.proyectos {
  display: grid;
  background-color: aliceblue;
}
.nomargen {
  margin: 0px;
}
.barraportada {
  backdrop-filter: blur(10px);
  padding: 50px 25px 50px 25px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  .links {
    padding: 0px 50px 0px 50px;
  }
}
.separator {
  width: 100%;
  height: 100px;
}
.proyectos {
  background-color: #242424;
  padding: 100px 20px 100px 10px;
  border: 2px groove #a1c2ce;
  margin-bottom: 5px;
}
